.root {
    --theme-main: rgba(111, 53, 146, 0.899);
}

main section {
    background-color: rgba(151, 88, 191, 0.762);
    width: 300px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    max-width: 2000px
}

header {
    height: 150px;
    background-color: rgba(127, 45, 178, 0.762);
    color: rgb(233, 243, 245);
    border-radius: 20px;
    margin-bottom: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
}

body {
    background-image: url("./background\ color.jpg");
    background-size: cover;
    height: 1400px;
    font-family: 'Poppins', sans-serif;
    color:beige;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;

}

main section,
header {
    box-shadow: rgba(86, 135, 196, 0.2) 0px 8px 24px;
}

.hidden {
    display: none;
}

.visible {
    display:block;
}

main #start {
    border-radius: 15px;
    width:250px;
    height: 50px;
    font-weight: 800;
    background-color: #d4af2bed;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
}

#start:hover{
    background-color: rgb(230, 192, 67);
    border-style: groove;
}
section h2 {
    background-color: rgba(1, 14, 7, 0.566);
    padding: 8px;
    width: fit-content;
    border-radius: 8px;
}

main section:hover{
    box-shadow:0px 8px 30px rgba(85, 93, 103, 0.857) ;
}
h3, main p {
    color: rgb(62, 200, 149);
}
@media screen and (max-width:1000px) {
    main section {
        margin-bottom: 100px;
    }
}